---
import PageLayout from "@/layouts/Base.astro";
import { getCollection } from "astro:content";
import { useTranslations, getLangFromUrl } from "src/i18n/utils";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const skills = await getCollection("skills");

const availableIcons = Object.values(
	import.meta.glob("/public/icons/*.(svg|webp|png)", { eager: true }),
).map((icon: any) => {
	const iconSrc = icon.default?.src ?? icon.default;
	return iconSrc.replace(".*/public", "");
});
const getSkillIcon = (iconName: string) => availableIcons.find((icon) => icon.includes(iconName));
---

<script>
	import { animate, stagger } from "motion";

	animate(
		"p,h2,ul",
		{ opacity: [0, 1], x: [-32, 0], y: [-4, 0] },
		{ duration: 0.8, delay: stagger(0.05), easing: "ease-out" },
	);
</script>

<PageLayout meta={meta}>
	<section class="space-y-4">
		<h2 class="title">À propos</h2>
		<p>
			Développeur web depuis cinq ans, je conçois des interfaces sobres et efficaces — avec une
			passion particulière pour les expériences à la fois <strong>fluides</strong>, <strong
				>lisibles</strong
			> et <strong>marquantes</strong>.
		</p>
		<p>
			Je suis convaincu que le web peut (et doit) être un levier d’impact positif. J’aime contribuer
			à des projets qui ont du <strong>sens</strong> : social, environnemental, humain.
		</p>
		<p>
			Ce que je recherche avant tout, c’est <strong>améliorer ce qui existe</strong>, affiner,
			simplifier, reconstruire plus juste. C’est là que je me sens à ma place.
		</p>
	</section>

	<section class="mt-8">
		<h2 class="title">Les technologies que j'utilise</h2>
		<p class="mb-4 text-xs">(liste non-exhaustive et en évolution)</p>
		<ul class="flex flex-wrap items-center gap-2">
			{
				skills
					.filter((skill) => skill.data.type === "technical")
					.map((skill) => (
						<li class="flex items-center gap-2 rounded-full border-1 border-zinc-200 bg-white px-2 py-1 shadow-xs dark:border-zinc-700 dark:bg-zinc-800 dark:shadow-md">
							{getSkillIcon(skill.data.name) && (
								<img
									src={getSkillIcon(skill.data.name)}
									alt={t(`skills.${skill.data.name}`) + " icon"}
									class="h-4 w-4"
								/>
							)}
							<span>{t(`skills.${skill.data.name}`)}</span>
						</li>
					))
			}
		</ul>
	</section>

	<section class="relative mt-12 space-y-6">
		<h2 class="title">Mon parcours</h2>
		<div class="space-y-4">
			<p>
				<strong>2018</strong> — Retour au code après quelques années d’éloignement, via un poste de développeur
				haut niveau sur progiciel ( domaine de la CRM). J’entame un apprentissage autodidacte (Python,
				JavaScript), qui me conduit à un poste de
				<strong>développeur fullstack</strong> en 2021.
			</p>
			<p>
				<strong>2018–2022</strong> — Quatre années en ESN, dans deux structures différentes, où j’interviens
				sur une grande diversité de missions : développement front & back, relation client, chiffrage,
				accompagnement de profils juniors.
				<br />
				J’ai notamment travaillé pour des clients comme <span class="font-medium">Engie</span>, <span
					class="font-medium">CNP Assurances</span
				> ou le <span class="font-medium">groupe Kering</span>.
				<span class="text-gray-600 italic dark:text-gray-400"
					>Un environnement riche, mais dans un modèle dans lequel je ne trouvais plus d’alignement.</span
				>
			</p>
			<p>
				<strong>Début 2022</strong> — Je rejoins <span class="font-semibold">Fifteen</span>,
				entreprise engagée dans la mobilité douce, en tant que développeur frontend.
			</p>
			<p>
				J’y développe des applications métiers pour les villes et les opérateurs de services, mais
				aussi des interfaces pensées pour les utilisateurs finaux. Au-delà du développement,
				j’interviens aussi sur les aspects <strong>UI/UX</strong> et <strong>produit</strong>, en
				contribuant aux choix de conception, à la clarté des parcours, et à la qualité d’usage des
				interfaces.
			</p>
			<p>
				<strong>Début 2025</strong> — J’évolue en tant que <strong>lead développeur frontend</strong
				>, en charge de la <span class="font-medium">qualité technique</span>, de la <span
					class="font-medium">structuration des projets</span
				>, et de l’<span class="font-medium">accompagnement d’une équipe de 3 développeurs</span>.
			</p>
		</div>
	</section>

	<section class="mt-8 space-y-6">
		<h2 class="title">CV</h2>
		<p>
			<a
				class="link"
				href="https://s3.fr-par.scw.cloud/arthurbriere.me/CV-arthur-briere.pdf"
				target="_blank">Téléchager mon CV</a
			>
		</p>
	</section>
</PageLayout>
